.box {
    width:150px;
    color:white;
    display:flex;
    align-items:center;
    justify-content: center;
    border-radius:  10px;
    position: absolute;
    background: rgb(61, 57, 57);
    height:fit-content;
    flex-direction: column;
}
.avatar {
    top:5vh;
    left:20vw;

    width:20vw;
    height:39vh;
}
.name {
    top:5vh;
    right: 20vw;

    width:38vw;
    height: 39vh;
}
.center{
    top:48%;
    left:50%;
    transform: translate(-50%,0%);
    width: 60vw;
}
body {
    background: rgb(100, 114, 119);
    color:black
}
.dark {
    background: black;
    color:white;
}
.Contacts{
    align-items: center;
    display: flex;
    justify-content: center;
}

.Contacts img{
    height: 50px;
    width: 50px;
}

.bem {
    display: flex;
    justify-content: center;
}

.bem p{
    padding-left: 10px;
    padding-right: 10px;
}
